.project .task-list li {
  cursor: pointer;
}

.app .project-list .selected {
  font-weight: bold;
}

.app .project-list {
  border-top: thin solid black;
}

.app .project-list .project {
  border-top: thin solid black;
}
