.project .task-list .task {
  cursor: pointer;
}

.app .project-list .selected {
  font-weight: bold;
}

.app .project-list .project,
.app .project-list .edit-project
{
  border-top: thin solid black;
  margin-top: 1em;
  padding-top: 1em;
}

.app .project-list .project .task-list {
  margin-left: 2em;
}
.app .project-list .project .task-list .completed {
  text-decoration: line-through;
  color: silver;
}

.app .project-list .project .task-list .pending:hover {
  font-weight: bold;
}

.app .project-list .project .task-list .task .glyphicon {
  opacity: 0.5;
  margin-left: 1em;
}
.app .project-list .project .task-list .task .glyphicon:hover {
  opacity: 1;
}

.app .project-list .project .task-list .add-task{
  margin-top: 1em;
}

.app .loading {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  z-index: 2;
  background-color: silver;
  padding: 3px; /*csslint box-model:false */
  border: thin solid blue; /*csslint box-model:false */
}

.app .project-list .edit-project .btn {
  margin: 0 1em;
}

.app .btn {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.app .flags {
  float: right;
}

.app .flags img {
  margin: 2px;
}
